data/
models/
results/
# Ignore everything in comparison_results
*.pkl

# But don't ignore the plots directory
!comparison_results/plots/
!comparison_results/plots/**

# Slurm output files
*.out
*.err

# Local BERT model
bert_model/